@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box ;
  font-family: "GmarketSansMedium";
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgba(240, 229, 229, 1);
}

.main-text {
  color: rgba(231, 103, 103, 1);
}