@charset "utf-8";
blockquote,
body,
button,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
select,
td,
textarea,
th,
ul {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body,
button,
input,
select,
table,
textarea {
	font-size: 14px;
	line-height: 1.5;
	color: #1b1c1d;
	font-family: -apple-system, BlinkMacSystemFont, 'Malgun Gothic', '맑은 고딕',
		helvetica, 'Apple SD Gothic Neo', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	line-height: inherit;
}
textarea {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	background-color: transparent;
	border: 0;
	word-break: keep-all;
	word-wrap: break-word;
}
button,
input {
	-webkit-border-radius: 0;
	border-radius: 0;
}
button {
	background-color: transparent;
}
fieldset,
img {
	border: 0;
}
blockquote,
q {
	quotes: none;
}
blockquote:after,
blockquote:before,
q:after,
q:before {
	content: '';
	content: none;
}
img[src$='.gif'],
img[src$='.png'],
img[src$='.jpg'] {
	image-rendering: -webkit-optimize-contrast;
	transform: translateZ(0);
	backface-visibility: hidden;
}
dl,
li,
menu,
ol,
ul {
	list-style: none;
}
address,
caption,
cite,
code,
dfn,
em,
var {
	font-style: normal;
}
a {
	color: inherit;
	text-decoration: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
iframe {
	overflow: hidden;
	margin: 0;
	border: 0;
	padding: 0;
	vertical-align: top;
}
mark {
	background-color: transparent;
}
i {
	font-style: normal;
}
