.ir {
  overflow: hidden;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  text-indent: -9999px;
}

.login {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginTitle {
  margin-top: 0;
  margin-bottom: 80px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: none;
}

label {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}

input {
  font-size: 16px;
  padding: 10px;
}

button {
  margin-top: 20px;
  width: 200px;
  padding: 6px;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  border-radius: 5px;
  border-color: #0974bb;
  border-style: solid;
  cursor: pointer;
  color: #0974bb;
}

button:hover {
  color: #4aa4e0;
  border-color: #4aa4e0;
}
