#root {
  width: 100%;
  align-self: stretch;
}

.root {
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 60px 1fr;
}

.header {
  grid-column: 1/ 7;
  grid-row: 1;
  background-color: lightblue;
}

.sidebar {
  grid-column: 1;
  grid-row: 2;
  background-color: lightcyan;
}

.content {
  grid-column: 2 / auto;
  grid-row: 2;
}

.nav {
  min-width: 200px;
}

.nav-list {
}

.nav-list-item {
}
