.header {
  height: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgb(196, 196, 196);
  height: 70px;
  padding-left: 10px;
}

.title {
  font-weight: 500;
  font-size: 24px;
}
