.nav {
  display: table;
  height: 70px;
  background-color: rgb(179, 228, 227);
}

.nav .title {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  letter-spacing: 2px;
  padding: 0 1.3rem;
}

.link {
  text-decoration: none;
  color: inherit;
}