@font-face {
  font-family: 'KCCChassam';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCCChassam.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'KCCChassam';
  overflow: clip;
}

.wrap{
  height: 100vh;
  width: 100vw;
  display: flex;
}
