@font-face {
  font-family: "Prompt";
  src: url("../assets/fonts/Prompt-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Prompt";
  src: url("../assets/fonts/Prompt-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Prompt";
  src: url("../assets/fonts/Prompt-SemiBold.ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Prompt";
  src: url("../assets/fonts/Prompt-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
