.container {
  display: flex;
  flex-direction: column;
}

.mainSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
