@mixin flexbox() {
  display: flex;
}

@mixin flexbox-row($justify: center, $align: center) {
  @include flexbox;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexbox-column($justify: center, $align: center) {
  @include flexbox;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin gridbox() {
  display: grid;
}

@mixin grid-container-columns($columns: '') {
  @include gridbox;
  grid-template-columns: $columns;
}

@mixin grid-container-rows($rows: '') {
  @include gridbox;
  grid-template-rows: $rows;
}

@mixin grid-gap($gap: '') {
  gap: $gap;
}

@mixin grid-item-column($column: '') {
  grid-column: $column;
}

@mixin grid-item-row($row: '') {
  grid-row: $row;
}
