:root {
  --font-color: #0b79d9;
}

.wrap {
}

.header {
  padding: 0 20px;
  border-bottom: 2px solid #808080;
}

.body {
  display: flex;
  flex-direction: row;
  height: 92vh;
}

.sidebar {
  padding: 30px 50px;
  border-right: 2px solid #808080;
}

.page-item {
}

.page-item h2 {
}

.contents {
  text-align: center;
  margin: auto;
}

.contents h1 {
  font-size: 100px;
}

.contents h1 {
  color: var(--font-color);
}
