header {
  border-bottom: 1px solid #333;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header h1 {
  font-size: 20rem;
  cursor: pointer;
}

header > button {
  font-size: 20rem;
  background: deepskyblue;
  padding: 10rem 20rem;
  border-radius: 5px;
}
