.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 37%;
  padding: 0 25px;
}

.label {
  margin-bottom: 5px;
}

input {
  height: 20px;
  border-radius: 7px;
  border: 1px solid #e5e7eb;
  padding: 8px 10px;
  cursor: pointer;
}

.errorMsg {
  padding: 5px 0 0 5px;
  font-size: 12px;
  color: #ef4444;
}