html, body {
  padding: 0;
  margin: 0;
}

h1 {
  padding: 0;
  margin: 0;
}

button:focus {
  outline: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
em {
  margin: 0;
  padding: 0;
}

em {
  font-style: normal;
}

a {
  text-decoration: none;
  color: #333;
}


button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
  padding: 0;
}