.login__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.login__title {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}

.login__form {
    padding: 10px;
}